<div>
    
    <form [formGroup]="loginForm" class="login-form">

        <h2>Entre com suas credenciais para continuar</h2>

        <!-- username -->
        <label for="username">Usuário</label>
        <input type="text" formControlName="username">
    
        <!-- password -->
        <label for="password">Senha</label>
        <input type="password" formControlName="password">

        <!-- submit -->
        <button class="btn btn-primary mt-4" type="submit" [disabled]="!loginForm.valid">Entrar</button>
        <p>Ou clique <a href="">aqui</a> e registre-se agora mesmo!</p>
    </form>

</div>