<div>
    
    <form [formGroup]="loginForm" class="login-form">
        <img src="../../../assets/images/logo-transparent.png" class="logo" alt="">
        <h2>Entre com suas credenciais para continuar</h2>

        <!-- username -->
        <label for="username">Usuário</label>
        <input type="text" formControlName="username">
    
        <!-- password -->
        <label for="password">Senha</label>
        <input type="password" formControlName="passwordHash">

        <!-- submit -->
        <button class="btn btn-primary mt-4 login-button" (click)="login()" [disabled]="!loginForm.valid">Entrar</button>
        <p>Ou clique <a routerLink="/register-user">aqui</a> e registre-se agora mesmo!</p>
    </form>

</div>