<nav class="navbar navbar-expand-lg navbar-light pt-0" *ngIf="showMenu()">
    <!-- <a class="navbar-brand" href="dashboard">Navbar</a> -->
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu primary-color" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <img src="../../../assets/images/logo-transparent.png" class="logo" alt="">
            <a class="nav-item nav-link" href="dashboard">Home</a>
            <a class="nav-item nav-link" href="pet-list">Pets</a>
            <!-- <a class="nav-item nav-link" href="dashboard">Pricing</a>
            <a class="nav-item nav-link" href="dashboard">Outra Página</a> -->
        </div>
    </div>
</nav>