.table{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
}

.no-pets{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
}

form div{
    & input{
        margin-bottom: 15px;
    }
    & input:hover{
        border: 1px solid #7e17d3;
    }
} 

.btn-gray{
    background-color: rgb(223, 185, 216);
    color: #ffffff;
    padding: 5px 10px;
    margin: 10px 0;
    &:hover{
        background-color: #e8c2f0 !important;
        border-radius: 10px;
    }
  }