#btn-div{
    display: flex;
    justify-content: flex-end;
}

.pointer{
    cursor: pointer;

    &:hover{
        color: #7e17d3;
        background-color: antiquewhite;
    }
}

.delete{
    color: rgb(197, 24, 24);
    &:hover{
        background-color: antiquewhite;
        color: red;
    }
}