<div class="content pet-list">
    <div *ngIf="pets.length == 0" class="no-pets">
        Você ainda não possui Pets cadastrados.
    </div>
    <div *ngIf="pets.length > 0">
        <div >
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Raça</th>
                        <th>Nascimento</th>
                        <th>Peso</th>
                        <th>Altura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pet of pets" (click)="toDetails(pet)" class="pointer">
                        <td>{{pet.name}}</td>
                        <td>{{pet.animalType}}</td>
                        <td>{{pet.breed}}</td>
                        <td>{{pet.birthDate | date : "dd/MM/yyyy"}}</td>
                        <td>{{pet.weight}}</td>
                        <td>{{pet.height}}</td>
                        <td (click)="deletePet(pet)">Excluir</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="btn-div">
        <button class="btn btn-primary new-pet-btn" (click)="newPet()">Cadastrar novo Pet</button>
    </div>
    
</div>